@import url("sitewide_style.css");

div.section {
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}

p {
    margin: 0px;
}


div.section_wrapper {
    padding-top: 20px;
}

div.tiled_view_wrapper {
    column-width: 500px;
    column-gap: 20px;
}

div.tiled_view_wrapper > div.section:first-child {
    margin-top: 0px;
}

img.profile_image {
    width: 35%;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
}

img.qualifications_logo {
    width: 100%;
    vertical-align: top;
}

div.hover_image_wrapper {
    display: inline-block;
    position: relative;
    width: 155px;
    overflow: hidden;
    padding: 1%;
    vertical-align: top;
}

div.hover_image_wrapper:hover > p.hover_text,
div.hover_image_wrapper:hover > img.fade_out_overlay,
div.hover_image_wrapper:hover > a {
    visibility: visible;
}

p.hover_text {
    padding: 5%;
    padding-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 70%;
    position: absolute;
    display: block;
    overflow: hidden;
    width: 90%;
    height: 95%;
    top: 0;
    left: 0;
    z-index: 3;
    color: rgb(80, 80, 80);
    visibility: hidden;
    cursor: default;
}

div.hover_image_wrapper > a {
    visibility: hidden;
    padding-bottom: 2%;
    z-index: 12;
    font-size: 18px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    width: 90%;
    height: 22px;
    text-align: center;
}

img.fade_out_overlay {
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    margin: 0px;
    visibility: hidden;
}
.section_header, .subtitle {
    margin: 0px;
    margin-bottom: 10px;
}

.subtitle {
    margin-top: 5px;
    font-size: 16px;
    color: rgb(120, 120, 120);
    display: block;
}

.simple_list {
    font-size: 24px;
    display: block;
    margin-right: 5%;
    width: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media all and (max-width: 800px) , all and (max-device-width: 800px) {
    div.hover_image_wrapper {
        width: 42%;
    }
    
    p.hover_text {
        /* when a mobile user clicks on the hover image, it is treated as a
           hover, but the text below where the user clicked is selected, so we
           disable text selection on mobile devices as a quick fix */
        user-select: none;
    }
    
    div.hover_image_wrapper:hover > p.hover_text {
        font-size: 16px;
    }
    
    .desktop_specific {
        display: none;
    }
    
    /* the links are hard to click on mobile, and can be triggered by clicking
       the image in the place the link appears after clicking a hover image,
       so we disable them. */
    div.hover_image_wrapper:hover > a {
        display: none;
    }
}

@media not all and (max-width: 800px) , all and (max-device-width: 800px) {
    .mobile_specific {
        display: none;
    }
}