/* color scheme:
    http://paletton.com/#uid=62T0E0keqNw3ZZz9uUEiKEmmBvn 
*/


/* General */

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 1.25em;
    background-color: rgb(240, 240, 240);
}

div.main {
    background-color: rgb(255, 255, 255);
    color: rgb(80, 80, 80);
    max-width: 1200px;
    padding: 2% 2% 2% 2%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 2%;
}

div.section {
    padding: 2%;
    border-radius: 2px;
    border-style: solid;
    border-width: 5px;
    background-color: rgb(245, 245, 245);
    border-color: rgb(200, 200, 200);
}

.section_header,
.subtitle {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 1.35em;
}

.subtitle {
    font-size: 1.1em;
    color: rgb(120, 120, 120);
    display: block;
}

img {
    margin: 2%;
    margin-bottom: 1.5%;
}

a {
    text-decoration: none;
    color: rgb(86, 145, 191);
}


/* Navbar */

.navbar {
    list-style-type: none;
    display: block;
    margin: auto;
    width: 100%;
    background-color: aqua;
    border-bottom-style: solid;
    /* The border width will be animated larger 
       when the user scrolls */
    border-bottom-width: 0px;
    border-bottom-color: rgb(255, 120, 106);
    /* The alpha will be increased after scrolling */
    background-color: rgba(200, 200, 200, 0);
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10px;
    z-index: 10;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
}

.navbar > li {
    width: auto;
    display: inline-block;
    text-align: center;
    float: right;
}

.navbar > li.name_header {
    float: left;
    font-size: 200%;
    font-variant: small-caps;
    font-weight: 900;
    height: 40px;
    color: rgb(80, 80, 80);
}

.navbar > li:nth-child(2) {
    margin-right: 20px;
}

.navbar > li:first-child {
    /* The opacity will be increased after scrolling */
    opacity: 0;
}

.navbar > li > a {
    color: rgb(80, 80, 80);
    display: block;
    background-color: rgba(200, 200, 200, 0.8);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 3px;
    margin: 0px;
    height: 28px;
    align-content: center;
}

.navbar > li.selected > a {
    background: rgb(255, 120, 106);
}

.navbar > li > a:hover {
    color: rgb(200, 200, 200);
    background-color: rgb(150, 150, 150);
}


/* Banner */

div.banner {
    height: 220px;
    width: 440px;
    overflow: hidden;
    background-color: rgba(200, 200, 200, 0.8);
}

.first_name {
    width: 500px;
    padding-left: 40px;
    padding-top: 15px;
    color: rgb(255, 120, 106);
    font-size: 120px;
    line-height: 120px;
    margin: 0px;
}

.last_name {
    width: 500px;
    padding-left: 40px;
    padding-bottom: 20px;
    margin: 0px;
    color: rgb(86, 145, 191);
    font-size: 73px;
    line-height: 70px;
}

div.banner > img {
    right: -40px;
    position: fixed;
    width: 110%;
    min-width: 1000px;
    margin-top: -230px;
    margin-left: 0px;
    z-index: -1;
    clip: rect(0px, auto, 230px, 0px);
}


/* Mobile Overrides */

@media all and (max-width: 800px),
all and (max-device-width: 800px) {
    div.banner {
        display: none;
    }
    div.main {
        padding-top: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .navbar {
        border-width: 2px;
        background-color: rgb(200, 200, 200);
        margin-top: 0px;
        height: 240px;
        white-space: nowrap;
        margin: 0px;
        position: relative;
        padding: 0px;
    }
    .navbar > li > a {
        height: 48px;
        font-size: 40px;
    }
    .navbar > li {
        display: inline;
        float: none;
    }
    .navbar > li:first-child {
        opacity: 0;
        display: none;
    }
    .navbar > li:nth-child(2) {
        margin-right: 0px;
    }
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        font-size: 2.5em;
    }
    html {
        padding-top: 0px;
    }
}