table {
    border-spacing: 0px;
}

th {
    background-color: rgb(200, 200, 200);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

th:hover {
    cursor: pointer;
}

th > div.cell_wrapper {
    float: left;
    padding-right: 0px;
    cursor: pointer;
}

th > div.arrows {
    float: right;
    align-content: left;
    width: 40px;
    margin-top: 10px;
    line-height: 20px;
    cursor: pointer;
}

div.cell_wrapper {
    padding: 20px;
    position: relative;
}

div.header_wrapper > div.cell_wrapper {
    display: inline-block;
}

div.arrows {
    display: inline-block;
    position: relative;
    height: 0px;
    top: 10px;
    cursor: default;
}

th {
    break-inside: avoid;
    white-space: nowrap;
    overflow: hidden;
}

p.top_arrow {
    margin-top: 0px;
    height: 0px;
    color: rgb(245, 245, 245);
}

p.bottom_arrow {
    margin: 0px;
    color: rgb(245, 245, 245);
}

div.arrows.sorted_down > p.top_arrow {
    color: rgb(255, 120, 106);
}

div.arrows.sorted_up > p.bottom_arrow {
    color: rgb(255, 120, 106);
}